<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block extra_css %}

    {% endblock %}
    <title>{% block title %}Placement Portal{% endblock %}</title>
</head>
<body>
    
    <!-- <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
    </nav> -->
    <section >
    {% block content %}
    <p>Default Content</p>
    {% endblock %}
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>