<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Monthly Placement Report</title>
</head>

<body>

    <h2>Placement Portal Monthly Report</h2>

    <hr>

    <p>Dear Organization,</p>

    <p>
        Please find your organization's monthly placement activity report for the last
        30 days.
    </p>

    <table border="1" cellpadding="8">

        <tr>
            <th>Total Companies</th>
            <td>{{ companies }}</td>
        </tr>


        <tr>
            <th>Total Students</th>
            <td>{{ students }}</td>
        </tr>

        <tr>
            <th>Total Drives</th>
            <td>{{ drives }}</td>
        </tr>

        <tr>
            <th>Total Applications</th>
            <td>{{ applications }}</td>
        </tr>



        <tr>
            <th>Selected Students</th>
            <td>{{ selected }}</td>
        </tr>


        <tr>
            <th>Hired Students</th>
            <td>{{ hired }}</td>
        </tr>

    </table>

    <br>

    <p>Generated automatically by Placement Portal.</p>

</body>

</html>