{% macro render_modal(modal_id, size="",title=None) %}

<div class="modal fade" id="{{ modal_id }}" tabindex="-1">
  <div class="modal-dialog {{ size }}">
    <div class="modal-content">


      <div class="modal-header">
       {% if title %}
        <h5 class="modal-title">{{ title }}</h5>
        {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        {{ caller() }}
      </div>

    </div>
  </div>
</div>

{% endmacro %}